/* EQUALITY PROJECT */

.footheads {
  position: relative;
  text-align: center;
  color: white;
}

.centered-footheads {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  width: 100.2%;
  height: 100.5%;
  color: white;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

.centered-footheads p {
  text-align: center;
  margin: 10% 25%;
}

.footheads:hover .centered-footheads {
  visibility: visible;
}

/* EQUALITY PROJECT */

.equality {
  position: relative;
  text-align: center;
  color: white;
}

.centered-equality {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  width: 100.2%;
  height: 100.5%;
  color: white;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

.centered-equality p {
  text-align: center;
  margin: 10% 25%;
}

.equality:hover .centered-equality {
  visibility: visible;
}

/* 4LOLZ PROJECTS */

.lolz {
  position: relative;
  text-align: center;
  color: white;
}

.centered-lolz {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  width: 100.2%;
  height: 100.5%;
  color: white;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

.centered-lolz p {
  text-align: center;
  margin: 20% 25%;
}

.lolz:hover .centered-lolz {
  visibility: visible;
}

/* KOBEEE PROJECT */

.kobeee {
  position: relative;
  text-align: center;
  color: white;
}

.centered-kobeee {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  width: 100.2%;
  height: 100.5%;
  color: white;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

.centered-kobeee p {
  text-align: center;
  margin: 10% 25%;
}

.kobeee:hover .centered-kobeee {
  visibility: visible;
}

/* --------------------------------------------------------------- */

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

#projects-content {
  padding: 4em;
  margin: 1.5em 0;
}

#projects p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

#projects {
  padding-top: 4em;
}
