.foto {
  width: 105.5%;
}

.textabout {
  display: flex;
  margin: 3em 0;
  background-color: #f8fafd;
}

.about-img {
  display: flex;
  align-self: flex-start;
}

.textabout .aboutxt {
  width: 150%;
  padding: 2em 8em;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
}

article {
  margin-top: 2em;
}

#about {
  margin: 0 auto;
  padding: 2em 5em 5em 5em;
  width: 80%;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 3em;
}

li {
  font-family: 'Staatliches', cursive;
  font-size: 1.1em;
  list-style-type: none;
}

h3 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 1rem;
}

ul {
  padding: 1rem;
  background-color: #f8fafd;
}