footer {
  background-color: transparent;
  text-align: center;
  color: white;
  padding: 5% 1%;
  text-transform: capitalize;
}

.footerdev {
  font-family: 'Open Sans Condensed', sans-serif;
}

@media (max-width: 955px) {
  footer {
    margin: 3em 0;
  }
}